/dist/
/node_modules/
/case_study/
logs/
stuff_to_delete/
PythonProgrammingOnWin32.pdf
latex
/paper
.web-extension-id
*.pyc
*.csv
__pycache__/
/RPA
/RPA_tools
.DS_Store
.vscode
.idea
Thumbs.db
Desktop.ini
node_modules
*.py[cod]
*$py.class
.Python
develop-eggs/
dist/
venv/
downloads/
lib/
lib64/
parts/
sdist/
wheels/
pip-wheel-metadata/
share/python-wheels/
.installed.cfg
pip-log.txt
pip-delete-this-directory.txt
.cache
.pytest_cache/
*.log
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
docs/_build/
profile_default/
ipython_config.py
.python-version
Pipfile.lock
__pypackages__/
/extensions/browserlogger/web-ext-artifacts/
*.lnk
/docs/readme-header11.png
/dropbox
/form/
package-lock.json
/docs/build/
